nav {
  width: 100%;
  background-color: var(--color-accent);
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 15px 0;
}

.navbarContainer {
  width: 90%;
  max-width: 1040px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.navbarContainer img {
  width: 120px;
}

.navbarContainer a {
  color: var(--color-secondary);
  padding: 10px;
  font-weight: bold;
  transition: color .2s ease-out;
}

.navbarContainer a:hover {
  color: var(--color-primary);
}
