.filterContainer {
  max-width: 1040px;
  margin: auto;
}

.selectedContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .selectedContainer {
    flex-wrap: nowrap;
  }
}

.filterContainer button {
  background: transparent;
  border: 1px solid black;
  padding: 3px 6px;
  font-size: 10px; 
  cursor: pointer;
  transition: all 0.3s ease-out;
  margin: 3px; 
  border-radius: 5px; 
}

.filterContainer button.selected {
  background-color: var(--color-accent);
  color: var(--color-text-one);
  border-color: var(--color-accent);
}

.filterContainer button:hover {
  background-color: var(--color-background-off-two);
  color: var(--color-accent);
  border-color: var(--color-accent);
}