.createContainer {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.createContainer h1 {
  padding-bottom: 20px;
}
